.user-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__item {
    display: flex;
    flex-direction: column;

    label {
      font-size: 1.6rem;
      margin-bottom: 0.8rem;
    }

    input {
      padding: 0.6rem;
      font-size: 1.4rem;
    }
  }
}
