.card {
  max-width: 55rem;
  margin: 0 auto;
  border-radius: 12px;
  padding: 2rem;
  background: rgb(243, 243, 243);
  margin-top: 2rem;
  -webkit-box-shadow: -4px 13px 27px -9px rgba(0, 0, 0, 0.3);
  box-shadow: -4px 13px 27px -9px rgba(0, 0, 0, 0.3);
}
